[package]
name = "spacegate-kernel"
version.workspace = true
authors.workspace = true
description.workspace = true
keywords.workspace = true
categories.workspace = true
homepage.workspace = true
documentation.workspace = true
repository.workspace = true
license.workspace = true
edition.workspace = true
readme = "../README.md"

[lib]
name = "spacegate_kernel"
path = "src/lib.rs"

[features]
local = ["tardis/fs"]
cache = ["tardis/cache"]
ws = ["tardis/ws-client"]
k8s = ["kube", "k8s-openapi", "k8s-gateway-api", "schemars", "cache"]

[dependencies]
serde.workspace = true
serde_json.workspace = true
lazy_static.workspace = true
async-trait.workspace = true
itertools.workspace = true
urlencoding.workspace = true
async-compression.workspace = true

tardis = { workspace = true, features = ["future", "crypto", "tls"] }
http.workspace = true
rustls.workspace = true
hyper.workspace = true
hyper-rustls.workspace = true
rustls-pemfile.workspace = true
tokio-rustls.workspace = true

kube = { workspace = true, optional = true }
k8s-openapi = { workspace = true, optional = true }
k8s-gateway-api = { workspace = true, optional = true }
schemars = { workspace = true, optional = true }
async-stream = "0.3.5"
flate2 = "1.0.27"
tokio-util = { version = "0.7.8", features = ["io"] }


[dev-dependencies]
tardis = { workspace = true, features = ["test", "web-client", "web-server"] }
reqwest = { workspace = true }
tracing-subscriber = { workspace = true }

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]

[[test]]
name = "test_config_by_redis"
required-features = ["cache"]
